.navbar-nav {
    margin: auto;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    height: 90vh;
    margin: 0 0 0 0;
    max-width: 100%
}

.row {
    /* height: 100%; */
}

.card {
    height: 100%;
}

iframe {
    height: auto;
    width: auto;
}

nav img {
    max-height: 2em;
}

nav li {
    display: inline-block;
}